<div class="flickr_pagination">
  <%= will_paginate records, :container => false, :previous_label => "&laquo; Anteriores", :next_label => "Siguientes &raquo;" %>
  <div class="page_info"><%= page_entries_info records%></div>
</div>