<h2 class="posttitle">Acerca de</h2> 
<div class="entry"> 
  <table><tr><td><p>Poco después de comenzar con la <a href="http://www.cordobapedia.org/">Cordobapedia</a>, y viendo que <a href="http://www.cordobapedia.org/wiki/Gente_cordobesa_en_la_red">la comunidad de blogueros cordobesa</a> es cada vez mayor, creímos oportuno crear un agregador (más conocido como planeta) de <a href="http://es.wikipedia.org/wiki/Blog">blogs</a> cordobeses.</p> 
<p>Y en eso consiste básicamente este planeta, en tener en un solo sitio <strong>todos los blogs de y sobre Córdoba</strong> que quieran unirse a esta iniciativa. Como el planeta es a su vez un blog, también podrás suscribirte a nuestras entradas tal y como se hace con cualquier otro blog, usando el agregador que prefieras.</p> 
<h3>¿Cómo puedo añadir mi blog?</h3> 
<p>Es muy sencillo. Sólo tienes que <a href="http://planeta.cordobapedia.org/anade-tu-blog/" title="Añade tu blog">escribirnos</a> dándonos la dirección de tu blog. Nosotros lo revisaremos y lo añadiremos lo más rápidamente posible.</p> 
<p>Sólo te pedimos que lo tengas configurado de tal forma que tus canales (más conocidos como <em lang="en" xml:lang="en">feeds</em>, tanto RSS como ATOM) incluyan las entradas completas, pues es lo que saldrá en nuestra página.</p> 
</td></tr></table>
<div class="clear"></div> 
</div>