<h2 class="posttitle">Colaboraciones</h2> 
<div class="entry"> 
  <table><tr><td><p>Gracias a vuestros blogs, esta comunidad es cada día más grande, llegando cada vez a más lectores, y creando lazos de unión entre los blogueros que convivimos en ella.</p> 
<p>Y no nos quedamos sólo en internet. Uno de nuestros miembros, <a href="http://historias-de-aqui.blogspot.com/index.html">Manuel Ruiz</a>, es también reportero del <a href="http://www.diariocordoba.com/">Diario Córdoba</a>, y en sus paseos por nuestra comunidad, suele reseñar algún que otro blog del planeta en el diario. Así que si formas parte de nuestro planeta, puede que incluso <strong>tu blog salte al papel</strong>.</p> 
</td></tr></table>
  <div class="clear"></div> 
</div> 
